{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if hash apt 2>/dev/null; then
  sudo apt install --yes {{ range .packages.apt }}{{ . | quote }} {{ end }}
fi

if hash pacman 2>/dev/null; then
  sudo pacman -Sy --needed {{ range .packages.pacman }}{{ . | quote }} {{ end }}
fi

if hash yay 2>/dev/null; then
  echo y | LANG=C yay -Sy --needed --answerdiff None --answerclean None --mflags "--noconfirm" {{ range .packages.yay }}{{ . | quote }} {{ end }}

  if ! grep "themes/Archlinux" /etc/default/grub >/dev/null; then
    echo "Updating GRUB2 defaults, please provide password..."
    echo "GRUB_THEME=\"/boot/grub/themes/Archlinux/theme.txt\"" | sudo tee -a /etc/default/grub
    sudo grub-mkconfig -o /boot/grub/grub.cfg
  fi
fi

if ! grep $USER /etc/passwd | grep zsh >/dev/null; then
  echo "zsh is not the default, changing user's default shell"
  chsh -s /usr/bin/zsh
fi

if ! [ -d ~/.oh-my-zsh ]; then
  echo "oh-my-zsh not installed, installing..."
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
fi


if ! hash mise 2>/dev/null; then
  echo "Did not find mise in PATH, installing..."
  mkdir -p ~/.local/bin
  curl https://mise.jdx.dev/mise-latest-linux-x64 > ~/.local/bin/mise
  chmod +x ~/.local/bin/mise
  echo "Done."
fi
{{ end -}}
