{
  "position": "top",
{{- /* Start variable definitions for computing waybar width per device */ -}}
{{- $gaps_out := 4 -}}
{{- $monitor_width := 1920 -}}
{{- $monitor_scale := 1 -}}
{{- if (or (eq .chezmoi.hostname "tux") (eq .chezmoi.hostname "x1")) -}}
  {{- $monitor_width = 1920 -}}
  {{- $monitor_scale = 1.25 -}}
{{- else -}}
  {{- $monitor_width = 3440 -}}
  {{- $monitor_scale = 1 -}}
{{- end -}}
{{- /* Here we perform the width calculation using github.com/masterminds/sprig */}}
  "width": {{ (divf (sub $monitor_width (mul (add $gaps_out 1) 2)) $monitor_scale) | int }},
  "modules-left": [
    "hyprland/workspaces"
  ],
  "modules-center": [
    "hyprland/window"
  ],
  "modules-right": [
    "tray",
    "network",
    "bluetooth",
    "pulseaudio",
    "backlight",
    "custom/nightlight",
    "battery",
    "clock",
    "custom/power"
  ],
  "clock": {
    "format": "    {:%a %d %H:%M}",
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
  },
  "backlight": {
    "device": "intel_backlight",
    "format": "{icon}    {percent}%",
    "format-icons": ["", ""]
  },
  "custom/nightlight": {
    "exec": "~/.config/waybar/nightlight.sh",
    "on-click": "~/.config/waybar/toggle_process.sh hyprsunset; sleep 0.2; pkill -SIGRTMIN+8 waybar",
    "return-type": "json",
    "signal": 8
  },
  "battery": {
    "states": {
      "warning": 30,
      "critical": 15
    },
    "format": "{icon}    {capacity}%",
    "format-warning": "{icon}    {capacity}%",
    "format-critical": "{icon}    {capacity}%",
    "format-charging": "   {capacity}%",
    "format-plugged": "   {capacity}%",
    "format-alt": "{icon}  {time}",
    "format-full": "   {capacity}%",
    "format-icons": [
      "",
      "",
      "",
      "",
      ""
    ],
    "tooltip-format": "{time}"
  },
  "bluetooth": {
	  "format": "  {status}",
	  "format-disabled": "󰂲  off",
    "format-connected": "󰂱  {num_connections} connected",
	  "tooltip-format": "{controller_alias}\t{controller_address}",
	  "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{device_enumerate}",
	  "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
    "on-click": "blueman-manager"
  },
  "network": {
    "format-wifi": "    {essid}",
    "format-ethernet": "󰤭     Disconnected",
    "format-linked": "{ifname} (No IP) ",
    "format-disconnected": "    Disconnected",
    "tooltip-format-wifi": "Signal Strenght: {signalStrength}%"
  },
  "pulseaudio": {
    "format": "{icon}   {volume}%",
    "format-muted": "",
    "format-icons": {
      "default": [
        "",
        "",
        " "
      ]
    },
    "on-click": "pavucontrol"
  },
  "tray": {
    "icon-size": 16,
    "spacing": 4
  },
  "custom/power": {
    "format": "⏻", // This icon is provided by the Awesome-fonts collection, not sure how to paste it unfortunately
    "tooltip": false,
    "menu": "on-click",
    "menu-file": "~/.config/waybar/power_menu.xml",
    "menu-actions": {
      "shutdown": "shutdown",
      "reboot": "reboot",
      "suspend": "systemctl suspend",
      "hibernate": "systemctl hibernate",
    },
  },
}
