font-size = 12
font-family = Hack Nerd Font Mono

theme = Dark+

cursor-style = block_hollow
shell-integration-features = no-cursor

background-opacity = 0.9

{{ if eq .chezmoi.os "linux" -}}
window-decoration = false
{{ end -}}

keybind = ctrl+a>n=new_tab
